@tailwind base;
@tailwind components;
@tailwind utilities;

.Shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.custom_transition{
    transition: all 0.3s ease-in-out !important ;
}

@media (max-width : 1280px) {
    .media_Q{
        display: flex !important;
    }
}
@media (max-width : 491px) {
    .remove_border{
        border-right: 0px !important;
    }
}
@media (max-width : 337px) {
    .remove_border_second{
        border-right: 0px !important;
    }
}
@media (max-width : 640px) and (min-width : 450px) {
    .loginImage1{
        height: 550px !important;
    }
    .loginImage2{
        height: 550px !important;
    }
    .loginPera{
        padding-top: 240px !important;
    }
}
@media (max-width : 450px){
    .loginImage1{
        height: 420px !important;
    }
    .loginImage2{
        height: 420px !important;
    }
    .loginPera{
        padding-top: 120px !important;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}