@tailwind base;
@tailwind components;
@tailwind utilities;

.Shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.custom_transition{
    transition: all 0.3s ease-in-out !important ;
}

@media (max-width : 1280px) {
    .media_Q{
        display: flex !important;
    }
}